body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0)
    ) ,url("/images/pizza1.cms");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.links{
    margin: 10px 20px;
}
.links ul{
    display: flex;
    justify-content: space-around;
}
.links li{
    list-style: none;
    padding: 0 10px;

}
.links a{
    color: white;
    text-decoration: none;
}
.links a:hover{
    border-bottom: 2px solid white;
}
.logo{
    display: flex;
}
.logo h1{
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}
.container{
    color: white;
}
.contact{
    margin: 100px 0;
    font-size: 25px;
}
.contact h3{
    font-size: 50px;
}
#number{
    font-size: 50px;
    font-weight: 800;
    color:brown;
}