body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0)
    ) ,url("./images/pizza1.cms");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.links{
    margin: 10px 20px;
}
.links ul{
    display: flex;
    justify-content: space-around;
}
.links li{
    list-style: none;
    padding: 0 10px;

}
.links a{
    color: white;
    text-decoration: none;
}
.links a:hover{
    border-bottom: 2px solid white;
}
.logo{
    display: flex;
}
.logo h1{
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}
.container{
    color: white;
}
.contact{
    margin: 100px 0;
    font-size: 25px;
}
.contact h3{
    font-size: 50px;
}
#number{
    font-size: 50px;
    font-weight: 800;
    color:black;
}
.contact-form{
    margin-top: 50px;
}
label{
    margin: 10px 0;
}
.form-control{
    width: 70%;
    background-color: transparent;
}
.btn{
    background-color: white;
    margin-top: 10px;
}
@media screen and (max-width: 350px){
    .links{
        margin: 10px 15px;
    }
    .links li{
        list-style: none;
        padding: 5px;
    }
    .contact{
        margin: 10px 5px;
        font-size: 15px;
    }
    .contact h3{
        font-size: 30px;
    }
    #number{
        font-size: 30px;
    }

    .contact-form{
        margin: 10px 10px;
    }
    .form-control{
        width: 90%;
    }
    .btn{
        margin: 20px 10px;
    }
}