.nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0)
    ),url("/images/GLUTEN-FREE-PIZZA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.links{
    margin: 10px 20px;
}
.links ul{
    display: flex;
    justify-content: space-around;
}
.links li{
    list-style: none;
    padding: 0 10px;

}
.links a{
    color: white;
    text-decoration: none;
}
.links a:hover{
    border-bottom: 2px solid white;
}
.logo{
    display: flex;
}
.logo h1{
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}

.container{
    padding: 20px 0;
}
.container h1{
    text-align: center;
}
#head1{
    color: brown;
}
.pizzas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pizza{
    border: 1px solid gray;
    height: 200px;
    width: 500px;
    margin: 20px;
    color: gray;
}
.pizza-content{
    float: right;
    width: 200px;
    margin-right: 30px;
    margin-top: 10px;
}
.pizza-content h4{
    color: black;
}